.app {
  min-height: 100vh;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282a41;
  margin: 0 auto;
}

.app-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.lifelines {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.answer {
  border: 5px solid #fff;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  cursor: default;
  padding: 1rem;
}

.answer:hover {
  border-color: #ff851b;
}

.no-pointer {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.disabled-answer {
  opacity: 0.3;
  pointer-events: none;
  text-decoration: line-through;
}

.feedback-chosen,
.feedback-chosen.answer:hover {
  border: 5px solid #ff4136;
}

.feedback-correct,
.feedback-correct.answer:hover {
  border: 5px solid #2ecc40;
}
